.fluent-overlay {
    width: 100vw !important;
    height: 100vh !important;
}

fluent-anchored-region {
    animation: fadeIn 300ms;
}

    fluent-anchored-region > div {
        border-radius: 5px;
    }

.fluent-popover-content {
    padding: 10px 15px !important;
    z-index: 9999;
}

    .fluent-popover-content .fluent-popover-body {
        margin-top: 0 !important;
    }

fluent-radio-group::part(positioning-region) {
    row-gap: 5px;
}
