fluent-button::part(control) {
    touch-action: manipulation;
}

fluent-button.stealth::part(control) {
    background-color: transparent;
}

    fluent-button.stealth::part(control):hover {
        background-color: color-mix(in srgb,var(--neutral-foreground-rest),#0000 95%);
    }

    fluent-button.stealth::part(control):active {
        background-color: color-mix(in srgb,var(--neutral-foreground-rest),#0000 90%);
    }
